# Node dependencies
node_modules/
functions/node_modules/

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
.firebaserc.backup

# Environment
*.env
*.local
.env.*

# OS
.DS_Store
Thumbs.db
